@using NewEcommerceApp.Models.EntityModels
@model List<NewEcommerceApp.Models.EntityModels.CustomerType>


<h1>Category List</h1>
<table class="table table-striped table-hover table-bordered">
    <thead>
        <tr>
            <th>
                Name
            </th>

            <th>Action</th>
        </tr>


    </thead>
    <tbody>

        @foreach (CustomerType customerType in Model)
        {
            <tr>
                <td>@customerType.Name</td>

                <td>
                    <a asp-action="Edit" asp-route-id="@customerType.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@customerType.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
